body {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(https://i.pinimg.com/originals/ea/d1/ad/ead1adecf7584f7420c7794c20de645a.gif) no-repeat;
  background-size: cover;
  background-position: center;
}
header {
  background-color: #146;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
img {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  left: 10px;
  bottom: 420px;
}
section {
  width: 48%;
  margin-bottom: 20px;
}
.grades table {
  width: 100%;
  background: transparent;
  backdrop-filter: blur(20px);
  border-collapse: collapse;
  margin-top: 20px;
}
.grades th {
  background-color: #162938;
  color: #ffffff;
  padding: 10px;
  text-align: left;
}
.grades td {
  border: 1px solid #000000;
  padding: 10px;
}
.classes ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  background: transparent;
  backdrop-filter: blur(20px);
}
.classes li {
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 10px;
  
}